a {
	color: #00b0ff;
}

body {
	font-family: sans-serif;
	color: gray;
	margin: 20px;
	background-color: #375F6B;
}

form {
	padding-right: 0;
	padding-left: 0;
}

h6 {
	padding-left: 2px;
}

li:hover {
	color: green;
}

.venue {
	position: absolute;
	overflow-y: auto;
	z-index: 1;
}

.main-title {
	font-size: 48px;
}

.main-logo {
	padding-top: 15px;
}

.placeholder {
	margin-top: 10px;
}

.navbar-form {
	padding: 0;
}

#legend {
	margin-top: 5px;
	margin-right: 5px;
    background: white;
    padding: 10px;
	border-radius: 0.5%;
}

#map {
	height: 700px;
	width: auto;
	border-radius: 0.5%;

}

#foursquare {
	height: 25px;
	width: auto;
}

#wikipedia {
	z-index: 1;
	position: fixed;
	margin-bottom: 0;
	right: 25px;
	height: 250px;
	bottom: 50px;
	overflow-y: auto;
}



@media only screen and (max-width: 768px) {

	.venue {
		font-size: small;
	}

	#wikipedia {
		height: 250px;
		width: 150px;
		bottom: 100px;
		font-size: small;
	}

	#map{
		height: 900px;
		width: auto;
	}
}


@media only screen and (max-width: 600px) {

	.venue {
		position: absolute;
		height: 180px;
		left: 25px;
		top: 400px;
		width: 90px;
		font-size: smaller;
	}

	#map {
		height: 550px;
		width: auto;
	}

	#legend {
		display: none;
	}

	#wikipedia {
		position: absolute;
		height: 180px;
		width: 90px;
		top: 400px;
		font-size: smaller;
	}

}

@media only screen and (max-width: 690px) and (max-height: 387px) {

	#map {
		height: 350px;
		width: auto;
	}

	.venue{
		top: 75px;
		height: 200px;
		font-size: small;
		width: 135px;
	}

	#wikipedia {
		top: 75px;
		width: 135px;
		font-size: small;
	}

	#legend {
		display: none;
	}

}


@media only screen and (max-width: 384px) and (max-height: 567px) {

	.venue {
		top: 400px;
		height: 130px;
		font-size: smaller;
	}

	#map {
		height: 500px;
	}

	#wikipedia {
		top: 400px;
		height: 130px;
		width: 95px;
		font-size: smaller;
	}

}

@media only screen and (max-width: 600px) and (max-height: 360px) {

	#map {
		height: 280px;
		width: auto;
	}

	.venue{
		top: 75px;
	}

	#wikipedia {
		top: 75px;
	}
}
