body {
	font-family: sans-serif;
}

.main-title {
	font-size: 48px;
}

.main-logo {
	padding-top: 15px;
}

.placeholder {
	margin-top: 10px;
}

#map {
	height: 600px;
	margin-top: 10px;
	width: 90%;
	margin-left: 40px;

}

/* Add hover effect for list - UI enhancement */

ul {
	background-color: #fff
}

li: hover {
	background-color: #2F4F4F
}