/* TODO: Organize CSS */

body {
	font-family: sans-serif;
	color: gray;
	margin: 20px;
	background-color: black;
}

form {
	padding-right: 0;
	padding-left: 0;
}

.main-title {
	font-size: 48px;
}

.main-logo {
	padding-top: 15px;
}

.placeholder {
	margin-top: 10px;
}

.navbar-form {
	padding: 0;
}

#map {
	height: 600px;
	width: auto;

}

a {
	color: #00b0ff;
}