a {
	color: #00b0ff;
}

body {
	font-family: sans-serif;
	color: gray;
	margin: 20px;
	background-color: #375F6B;
}

form {
	padding-right: 0;
	padding-left: 0;
}

h6 {
	padding-left: 2px;
}

li:hover {
	color: green;
}

.venue {
	position: fixed;
	overflow-y: auto;
	z-index: 1;
}

.main-title {
	font-size: 48px;
}

.main-logo {
	padding-top: 15px;
}

.placeholder {
	margin-top: 10px;
}

.navbar-form {
	padding: 0;
}

#legend {
	margin-top: 5px;
	margin-right: 5px;
    background: white;
    padding: 10px;
	border-radius: 0.5%;
}

#map {
	height: 700px;
	width: auto;
	border-radius: 0.5%;

}

#foursquare {
	height: 25px;
	width: auto;
}

#wikipedia {
	z-index: 1;
	position: fixed;
	margin-bottom: 0;
	right: 25px;
	height: 250px;
	bottom: 50px;
	overflow-y: auto;
}

@media only screen and (max-width: 700px) {

	.venue {
		z-index: 1;
		height: 160px;
		left: 25px;
		margin-bottom: 0;
		bottom: 250px;
		width: 150px;
		font-size: small;
	}

	#wikipedia {
		height: 160px;
		width: 150px;
		bottom: 250px;
		font-size: small;
	}
}



@media only screen and (max-width: 400px) {

	.venue {
		height: 160px;
		left: 25px;
		bottom: 30px;
		width: 95px;
		font-size: smaller;
	}

	#legend {
		bottom: 10px;
		height: 236px;
		width: 60px;
		overflow-y: auto;
	}

	#map {
		height: 500px;
	}

	#wikipedia {
		height: 160px;
		width: 95px;
		bottom: 30px;
		font-size: smaller;
	}

}
